@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Variables
------------------------------- */

:root {
  --primary:#ff0d7a;
  --primary-hover:#a31253;
  --dark-gradient: rgba(0,0,0,0.5);
  --gradient-error: rgba(197, 197, 197, 0.5);
  --font: 'Poppins', sans-serif;
  --letter-color: #353535; 
  --gray: #F2F2F2;
  --primary-gradient: radial-gradient(circle at 0% 0%, #ff7c43 0, #ff6c4b 12.5%, #ff5b51 25%, #ff4a56 37.5%, #ff3858 50%, #eb2659 62.5%, #d8125a 75%, #c7005b 87.5%, #b7005d 100%);

  --success: rgb(28, 255, 142);
  --error: rgb(255, 45, 84);
}

/* Normalized Styles
-------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--letter-color);
  font-size: 15px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button, input, select {
  outline: none;
  border: none;
}

img {
  object-fit: cover;
}

ul, li {
  list-style: none;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-image: var(--primary-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow-x: hidden;
  padding: 20px;
}

.app-title {
  font-size: 30px;
}

@media only screen and (max-width: 320px) {
  .App {
    padding: 0;
  }
}

/* Container Table
------------------------------- */
.container-table {
  width: 100%;
  max-width: 700px;
  max-height: 360px;
  overflow: auto;
  position: relative;
  border-radius: 4px;
  margin-top: 16px;
}

@media only screen and (max-width: 768px) {
  .container-table {
    max-height: 270px;
  }
}

/* Table
------------------------------- */
.table {
  width: 100%;
  height: 100%;
  background: var(--dark-gradient);
  border-collapse: collapse;
  border-color: transparent;
}

/* Table thead
------------------------------- */

.table thead {
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.table thead th:nth-child(1) {
  text-align: left;
}

.table tr th,
.table tr td {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  width: 400px;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .table tr th,
  .table tr td {
    font-size: 12px;
  }
}

/* Container Table Footer
------------------------------- */
.container-table-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
}

.container-table-footer-button {
  background: transparent;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
}

.container-table-footer-amount {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container-table-footer,
  .container-table-footer-button  {
    font-size: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .container-table-footer,
  .container-table-footer-button  {
    font-size: 11px;
  }
}